NODE_ENV=production
PORT=10000
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=4ZaQ8BnwjCuh7r3.root
DB_PASS=BkcsCCQQY845lLoF
DB_NAME=dior_platform
JWT_SECRET=dior_platform_secret_2026_deploy
TEST_MODE=
